.finish-recipe-button {
  width: 80%;
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464D55, #25292E);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) , 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi , system-ui , -apple-system , BlinkMacSystemFont , Roboto , Arial , sans-serif;
  font-size: 20px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 10px;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  user-select: none;
  vertical-align: baseline;
  white-space: nowrap;
}

.finish-recipe-button:disabled {
  width: 80%;
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#a3a8ada6, #777777b4);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) , 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: rgb(110, 108, 108);
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi , system-ui , -apple-system , BlinkMacSystemFont , Roboto , Arial , sans-serif;
  font-size: 20px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 10px;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  user-select: none;
  vertical-align: baseline;
  white-space: nowrap;
}