.exploreContainer {
  align-items: center;
  background-image: url('newexplore.jpg');
  display: flex;
  height: 100vh;
}

.buttonsExplore {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.buttonsColumn {
  display: flex;
  flex-direction: column;
}

.buttonStyle {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 3px 6px #e0dfd5;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-size: 20px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 10px;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  user-select: none;
  vertical-align: baseline;
  white-space: nowrap;
}
